# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.idea

# Server connection
server.js

# Folders to ignore
node_modules
bower_components
